<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwGPsg1IGMl77YIGz47NIqfPFQCyVZLYY</string>
	<key>GCM_SENDER_ID</key>
	<string>408903515670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aidan-Sussillo.FitSpoo</string>
	<key>PROJECT_ID</key>
	<string>fitspo-80c0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fitspo-80c0d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:408903515670:ios:bd6ff789e18ac9df1cff37</string>
</dict>
</plist>
